<script>
  var need_stripe_credentials = false;
</script>

<div class="container">
  
  <div class="row">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#settings" data-toggle="tab">1. Campaign Settings<br/> 
            <small>Get started with the essentials</small>
          </a>
        </li>
        <li>
          <a href="#preview" data-toggle="tab">2. Preview Page<br/> 
            <small>Tweak your page easily</small>
          </a>
        </li>
        <li>
          <a href="#finalize" data-toggle="tab">3. Finalize<br/> 
            <small>Get ready to launch</small>
          </a>
        </li>
        
      </ul>
      <div class="tab-content">
        
        <div class="tab-pane active" id="settings">
          <%= form_for(@campaign, :class => "form form-horizontal") do |f| %>
            <legend>Please edit your campaign settings</legend>

            <div class="control-group">
              <label class="control-label" for="name">Name</label>
              <div class="controls">
                <input type="text" name="name" id="name" value="<%= @campaign.name %>" />
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="goal">Goal</label>
              <div class="controls">
                <input type="text" name="goal" id="goal" placeholder="$100 - $30,000" rel="popover" data-title="Need help?" data-content="kasjdk jasjdk jasdjja sjdjsakdasdsa" value="<%= @campaign.goal %>" />
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="domain">Domain</label>
              <div class="controls">
                <input type="text" name="domain" id="domain" rel="popover" data-title="Need help?" data-content="kasjdk jasjdk jasdjja sjdjsakdasdsa" value="<%= @campaign.domain %>" />
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="video">Video</label>
              <div class="controls">
                <input type="text" name="video" id="video" placeholder="Youtube or Vimeo URL" rel="popover" data-title="Need help?" data-content="kasjdk jasjdk jasdjja sjdjsakdasdsa" value="<%= '' %>" />
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="name">Start Date/Time</label>
              <div class="controls">
                <input type="text" name="date" id="date" class="input-small" data-datepicker="datepicker" />
                <div class="input-append bootstrap-timepicker-component">
                  <input type="text" class="timepicker-default input-small" name="time" id="time" />
                  <span class="add-on">
                      <i class="icon-time"></i>
                  </span>
                </div>
                <span class="help-inline">Your campaign ends 30 days after the start date.</span>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label" for="name">Show our ad</label>
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox" checked />
                  <a href="#" rel="popover" data-title="Need help?" data-content="kasjdk jasjdk jasdjja sjdjsakdasdsa"><i class="icon-question-sign"></i></a>
                </label>
              </div>
            </div>

            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Save &amp; Continue to Step 2</button>
            </div>

          <% end %>
          
          
        </div>
        <div class="tab-pane" id="preview">
          
          <div class="well clearfix">
            <p class="pull-left">You can tweak this page by clicking the elements on the page</p>
            <a href="#" class="btn btn-primary pull-right">Save &amp; Continue to Step 3</a>
          </div>
          
          <div id="web_preview">

            	<div id="header">
              <div class="wrapper clearfix">
                <h1 id="lockitron_header"><a href="/">Selfstarter</a></h1>
              </div>
            </div>
            	<div class="gray_background">
              <div class="wrapper center">
              <h2>Roll your own crowdfunding</h2>
            </div>
              <div class="wrapper clearfix">
              <div id="video">
                <!--iframe width='512' height='385' src="https://www.youtube.com/v/D1L3o88GKew?autohide=1&showinfo=0&rel=0&autoplay=0"></iframe-->
              </div>

              <div id="backing">
                <ul>
                  <li class="stats" id="backers">
                    N/A
                    <span>backers</span>
                  </li>
                  <li class="stats">
                    N/A
                    <span>of $1,995</span>
                  </li>

                    <li class="stats" id="days">
                        &infin;
                        <span>days left</span>
                      </li>
                </ul>

                  <div id='progress_bg' class='small'>
                    <div id='progress' class='' style='width: 100%;'>
                    </div>
                  </div>

                <div id="reserve_container">
                  <p id="ship_date">Code Available on GitHub</p>
                  <a href="https://github.com/lockitron/selfstarter" class="blue_button reserve">Fork Now</a>
                  <p id="price">Free and Open Source</p>
                  <p>You&#x27;ll get this exact site. All you&#x27;ll need to get started is a great product.</p>
                  <div class="fb-like" data-send="false" data-width="70" data-layout="box_count" data-show-faces="true"></div>
                </div>

              </div>

            </div>
            </div>  
            <div class="big_wrapper">
              <div class="wrapper" id="one">
                <div class="point_copy">
                  <h3>
                    What is Selfstarter?
                  </h3>
                  <p>
                    Selfstarter is an open source starting point for building your own ad-hoc crowdfunding site. It was put together by <a href="https://lockitron.com">Lockitron</a> after they were <a href="http://techcrunch.com/2012/10/07/the-story-of-lockitron-crowdfunding-without-kickstarter/">turned down from Kickstarter</a>.
                  <p>
                </div>
              </div>
            </div>

            <div class="big_wrapper">
              <div class="wrapper" id="two">
                <div class="point_copy right">
                  <h3>
                    How do I use it?
                  </h3>
                  <p>
                    Selftstarter is a starting point for you to build your own solution. It is set up to collect reservations using Amazon Payments, but you can choose you own provider too.
                  <p>
                </div>
              </div>
            </div>

            <div class="big_wrapper">
              <div class="wrapper" id="three">
                <div class="point_copy">
                  <h3>
                    It's just a skeleton
                  </h3>
                  <p>
                    We've kept Selfstarter really simple, but that also means that you should beef it up with your own authentication, administration and product management code.
                  <p>
                </div>
              </div>
            </div>

            <div class="big_wrapper">
              <div class="wrapper" id="four">
                <div class="point_copy right">
                  <h3>
                    Let's get started
                  </h3>
                  <p>
                    Most of what you need to get started is in the Readme. Selfstarter is based on Ruby on Rails, and we've tried to break up all of the different parts in a sensible fashion.
                  <p>
                </div>
              </div>
            </div>
            <div class="gray_background">
              <ul class="wrapper clearfix" id="other_points">
                <li id="section-1">
                  <h4>Section 1</h4>
                  <p>Morbi tempus dapibus egestas. Nullam accumsan dolor ut purus ornare congue. Phasellus ac commodo neque. Quisque non ligula lacus, id hendrerit eros.</p>
                </li>
                <li id="section-2">
                  <h4>Section 2</h4>
                  <p>Vivamus nec posuere mauris. Suspendisse mi sem, egestas ac tristique ac, varius ac lectus. Sed porttitor dolor adipiscing mauris sagittis.</p>
                </li>
                <li id="section-3">
                  <h4>Section 3</h4>
                  <p>Curabitur dolor elit, placerat et malesuada et, tristique vel nulla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </li>
                <li id="section-4">
                  <h4>Section 4</h4>
                  <p>Curabitur ac mi elit, nec tempor odio. Nam sollicitudin, sapien sit amet elementum pretium, turpis mi fermentum nisl, ac vehicula purus lacus non velit.</p>
                </li>
              </ul>
            </div>
            <div class="big_wrapper">
              <div class="wrapper center" id="middle_reserve">
                <h2>Code Available on GitHub</h2>
                <a href="https://github.com/lockitron/selfstarter" class="blue_button reserve">Fork Now</a>
              </div>
            </div>  
            <div class="gray_background" id="faqs">
                <div class="wrapper clearfix">
                  <h4>Frequently Asked Questions</h4>
                    <ul>
                      <li class=''>
                        <details class=''>
                          <summary class=''>How do I setup Amazon Payments?</summary>
                          <p>You'll need to <a href="https://payments.amazon.com/sdui/sdui/accountstatus">create an Amazon Seller Central account</a>. Afterwards, get your access key and secret key from the "Integration" tab on your AWS account. <a href="https://payments.amazon.com/sdui/sdui/helpTab/Checkout-by-Amazon/Advanced-Integration-Help/Using-Your-Access-Key">Click here for more info</a>.
                            <br />
                            <br />
                            Once you have your access key and secret key, head over to <code>config/settings.yml</code>. Change <code>amazon_access_key</code> and <code>amazon_secret_key</code> appropriately.</p>
                        </details>
                      </li>
                      <li>
                        <details class=''>
                          <summary>Can I use another payments provider?</summary>
                          <p>Of course. We haven't built in support for other providers, but we recommend that you take a look at <a href="https://stripe.com">Stripe</a> or <a href="https://wepay.com">WePay</a>.</p>
                        </details>
                      </li>
                      <li>
                        <details class=''>
                          <summary>How do I edit the FAQ?</summary>
                          <p>The faq is a partial located in <code>app/views/preorder/homepage/_faq.html.erb</code> The <code>summary</code> tag is the title, the <code>p</code> is the body. Make sure to add an <code>li</code> tag for each FAQ entry.</p>
                        </details>
                      </li>
                      <li>
                        <details class=''>
                          <summary>How do I change around the images, product name, etc?</summary>
                          <p>The best way is in <code>config/settings.yml</code>. It has variables for several different parts, the YouTube video, the product name, the call to action button ("Fork Now"), and several more.
                          </p>
                        </details>
                      </li>
                    </ul>
                    <ul class='col2'>
                      <li>
                        <details class=''>
                          <summary>How do I change the CSS?</summary>
                          <p>Head over to <code>app/assets/stylesheets/variables.css.scss</code>. It makes it easy to change around the elements used throughout the HTML.
                          <br />
                          <br />
                          Alternatively, you can dive right into the CSS, have a look at <code>app/assets/stylesheets/main.css.scss</code>.</p>
                        </details>
                      </li> 
                     <li class=''>
                        <details class=''>
                          <summary>Why did you release this?</summary>
                          <p>Hardware startups are less welcome on Kickstarter than they were 6 months ago. We needed to roll our own kickstarter, so we did. Other hardware startups probably will too, so we made it easier for them by open sourcing our way of doing it.</p>
                        </details>
                      </li>
                      <li class=''>
                        <details class=''>
                          <summary class=''>What software stack does this use?</summary>
                          <p>It's a Ruby on Rails app that makes heavy use of SCSS, Kickstarter's wonderful <code>amazon_flex_pay</code> gem, and a hint of CoffeeScript.</p>
                        </details>
                      </li>
                      <li class=''>
                        <details class=''>
                          <summary class=''>How do I deploy it?</summary>
                          <p>We recommend using Heroku. We include a Procfile for you, so all you need to do is:
                            <p>
                              <p>Install the <a href="https://toolbelt.heroku.com/">Heroku Toolbelt</a></p>
                              <p>Run <code>heroku create</code> in Selfstarter's folder</code></p>
                              <p>Run <code>git push heroku master</code> in Selfstarter's folder</p>
                            </p>
                          </p>
                        </details>
                      </li>
                    </ul>
                </div>
            </div>

            <div id='logos'>
            	<ul class="wrapper clearfix">
            	  <li id="awesomeblog"><a href=""></a></li>
            	  <li id="coolpaper"><a href=""></a></li>
            	  <li id="nicemag"><a href=""></a></li>
            	  <li id="readcrunch"><a href=""></a></li>
            	</ul>
            </div>
            	<div class="footer">
              <div class="wrapper clearfix">
              	<p>© You. Made by the guys at <a href="https://lockitron.com">Lockitron</a>. MIT License.</p>

              </div>
            </div>

            
          </div> <!-- end preview container -->
          
        </div> <!-- end of tab -->
        
        <div class="tab-pane" id="finalize">

          <div class="well clearfix">
            
            <div class="span4 pull-left">
              <span class="preview_label">Preview for</span>
              <div class="btn-group preview_toggle" data-toggle="buttons-radio">
                <button type="button" class="btn btn-info active" data-target="web">Web</button>
                <button type="button" class="btn btn-info" data-target="tablet">Tablet</button>
                <button type="button" class="btn btn-info" data-target="mobile">Mobile</button>
              </div>
            </div>
            
            <!--div class="span3 pull-left">
              <div class="btn-group orientation_toggle" data-toggle="buttons-radio">
                <button type="button" class="btn btn-info active" data-orientation="portrait">Portrait</button>
                <button type="button" class="btn btn-info" data-orientation="landscape">Landscape</button>
              </div>
            </div-->
            
            <a href="#" class="btn btn-success pull-right"><i class="icon-globe icon-white"></i> Launch Campaign</a>
          </div>
          
          <div class="view web_view active">
            <div class="canvas">
              
              <iframe src="campaign-web.html" width="1024" height="700">
                
              </iframe>
              
            </div>
          </div>

          <div class="view tablet_view">
            <div class="canvas">
              
              <iframe src="campaign.html" width="420" height="551">
                
              </iframe>
              
            </div>
          </div>
          
          <div class="view mobile_view">
            <div class="canvas">
              
              
              
            </div>
          </div>
          
        </div><!-- end of tab -->
        
      </div>
    </div>
    
    
  </div>
  

</div>




<div class="modal hide" id="stripe_request">
  <div class="modal-header">
    <h3 id="myModalLabel">The first step...</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="stripe_connect">Stripe Connect</a>
  </div>
</div>