<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Campaign</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="OpenFund.co">

<!-- Le styles -->
<%= stylesheet_link_tag "bootstrap" %>
<%= stylesheet_link_tag "campaign" %>
<link href='http://fonts.googleapis.com/css?family=Signika+Negative' rel='stylesheet' type='text/css'>
<style>
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
</style>

<%= stylesheet_link_tag "bootstrap-responsive" %>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="span9 offset2" id="headline">
      <h1><%= @domain_campaign.name %></h1>
    </div>
  </div>
</div> 

<div id="title"><h3><%= @domain_campaign.tagline %></h3><%= image_tag 'pocket-shadow.png' %></div>
<div id="mainbox">
  <div class="container">
    <div class="row" id="meatPotatos">
      <div class="span10 offset1">
        <div class="span5" id="video">
          <% if @domain_campaign %>
            <iframe width="470" height="350" src="http://www.youtube.com/embed/ApUln7AD0_Q" frameborder="0" allowfullscreen></iframe>
          <% else %>
            <iframe src="http://player.vimeo.com/video/41261299?title=1&amp;byline=1&amp;portrait=1" width="100%" height="350" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <% end %>
        </div>           
        <div class="span5" id="statbox">
          <div class="span1" id="stats">
            <h3><%= @domain_campaign.backers %></h3>
            <p class="muted">Backers</p>
          </div>
          <div class="span2" id="stats" >
            <h3><%= number_to_currency(@domain_campaign.current_funds) %></h3>
            <p class="muted">Of <%= number_to_currency(@domain_campaign.goal) %></p>
          </div>
          <div class="span1" id="stats">
            <h3><%= @domain_campaign.days_left %></h3>
            <p class="muted">Days left</p>
          </div>  
          <div class="span4">
            <div class="progress">
              <div class="bar bar-success" style="width: <%= @domain_campaign.progress %>%;"></div>
              <h3> &nbsp;<%= @domain_campaign.progress %>%</h3>
            </div>
          </div>
          <div class="span4" id="blerb">
            <h3><%= @domain_campaign.secondary_tagline %></h3>
            <p><%= @domain_campaign.blurb %></p>
          </div>

        </div>                     
      </div>
    </div>
</div><!-- /container --> <div class="offset2"><%= image_tag 'pocket-shadow.png' %></div></div><br><!--/mainbox-->
<!--Start Sections--> 
<div class="container">
  <div class="row">
    <div class="span10  offset1">
      <div class="span5" id="blerb">
        <h3>Blerb</h3>
        <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
        <h3>Blerb</h3>
        <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
      </div>
      <div class="span4" id="image">
        <%= image_tag 'obama-toast.jpeg' %>
      </div> 
    </div>
  </div>
  <div class="span10 offset1" id="moveborder"><%= image_tag 'pocket-shadow.png' %></div>

</div>
<div class="container">
  <div class="row">
    <div class="span8 offset2">

      <h1>Blerb</h1>
      <p class="lead">lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>


    </div>
  </div>
  <div class="span10 offset1" id="moveborder"><%= image_tag 'pocket-shadow.png' %></div>
</div><br>
<div class="container">
  <div class="row">
    <div class="span10  offset1" >
      <div class="span3" id="levels">
        <h3>Contribute 10$</h3>
        <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
        <button class="btn btn-large btn-success" type="button"><i class="icon-heart"></i>  Fund!</button>           
      </div>
      <div class="span3" id="levels">
        <h3>Contribute 20$</h3>
        <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
        <button class="btn btn-large btn-success" type="button"><i class="icon-heart"></i> Fund!</button> 
      </div>
      <div class="span3" id="levels">
        <h3>Contribute 50$</h3>
        <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
        <button class="btn btn-large btn-success" type="button"><i class="icon-heart"></i> Fund!</button>  
      </div>
    </div>
    <div class="span10  offset1" >
      <div class="span3" id="levels">
        <h3>Contribute 100$</h3>
        <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
        <button class="btn btn-large btn-success" type="button"><i class="icon-heart"></i> Fund!</button>    
      </div>
      <div class="span3" id="levels">
        <h3>Contribute 1000$</h3>
        <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
        <button class="btn btn-large btn-success" type="button"><i class="icon-heart"></i> Fund!</button>  
      </div>
      <div class="span3" id="levels">
        <h3>Contribute 5000$</h3>
        <p>lerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBlerbBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbBBlerblerbBlerbBlerbBlerbBlerbBlerbB</p>
        <button class="btn btn-large btn-success" type="button"><i class="icon-heart"></i> Fund!</button>
      </div>
    </div>

    <div class="span10 offset1" id="moveborder"><%= image_tag 'pocket-shadow.png' %></div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="span8 offset2">
        <h1>FAQ</h1>
        <ul class="unstyled">
          <li><h4 class="muted lead ">What is the funding going to be used for?</h4>
          <li><p class="text-success">Thats a GREAT questiong, we are going to use to further our development and marketing</p></li></li>
          <li><h4 class="muted  lead">When will you recive your benifits for your contribution</h4>
          <li><p class="text-success">ANWSER</p></li></li>
          <li><h4 class="muted lead ">why</h4>
          <li><p class="text-success">ANWSER</p></li></li>
          <li><h4 class="muted lead ">WHooooWhat!</h4>
          <li><li><p class="text-success">ANWSER</p></li></li>
        </ul>     
      </div>
    </div>

    <div class="span10 offset1" id="moveborder"><%= image_tag 'pocket-shadow.png' %></div>
  </div><br>


  <!--/Sections-->
  <!--Start Footer-->
  <div class="container">
    <div class="row">
      <div class="span10  offset1">
        <footer>

          <p><i class="icon-globe"></i>Powered By: <a href="http://www.openfund.co">OpenFund.co</a> </p>

        </footer>    
  </div></div></div>

  <!-- Le javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <%= javascript_include_tag 'bootstrap' %>

  </body>
  </html>
